.footer {
  .footer__title {
    width: 49%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 90px;
    .footer__title_title {
      font-family: $font-quinary;
      font-size: 58px;
      line-height: 54px;
      margin-bottom: 40px;
    }
    .footer__title_subtitle {
      font-family: $font-senary;
      font-size: 21px;
      line-height: 33px;
      color: #807f7b;
    }
  }

  .carousel {
    width: 69%;
    margin: 0 auto;
    margin-bottom: 75px;

    .carousel__item {
      text-align: center;
      img {
        width: 195px;
        height: 155px;
        margin: 0 auto;
      }
      .carousel__item_title {
        font-family: $font-tertiary;
        font-size: 19px;
        text-transform: uppercase;
        margin-top: 50px;
        margin-bottom: 35px;
      }
      .button {
        padding-bottom: 20px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #bdbcba;
        color: #bdbcba;
        font-family: $font-quaternary;
        letter-spacing: 3px;
        outline: none;
        cursor: pointer;

        &:hover {
          color: #807f7b;
          border-bottom: 3px solid #807f7b;
          padding-bottom: 10px;
          transition: 1s ease;
        }
      }
    }
  }
  .footer__button {
    margin-bottom: 110px;
    text-align: center;
    button {
      height: 60px;
      padding: 10px 23px;
      background-color: transparent;
      border: 1px solid #000;
      font-family: $font-quaternary;
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 1.5px;
      cursor: pointer;
      outline: none;
      &:hover {
        border-radius: 7px;
        transition: 2s ease;
        border-color: #bdbcba;
        padding: 15px 25px;
        font-size: 16px;
      }
    }
  }
}
