$grid-width-primary: 100%;
$grid-width-secondary: 1920px;

// fonts

$font-primary: 'Mariad Pro Regular';
$font-secondary: 'Dala Moa Light';
$font-tertiary: 'Futura Medium';
$font-quaternary: 'Futura Demi Bold';
$font-quinary: 'EB Garamond', serif;
$font-senary: 'Futura Book';

// colors

$color-main-bg: #f1f1e9;