@media screen and (max-width: 1440px) {
  .footer {
    .footer__title {
      width: 60%;
    }
  }
}


@media screen and (max-width: 1024px) {
  .footer {
    .footer__title {
      .footer__title_title {
        font-size: 52px;
      }
      .footer__title_subtitle {
        font-size: 18px;
        line-height: 28px;
      }
    }
    .carousel {
      .carousel__item {
        img {
          width: 135px;
          height: 100px;
        }
        .carousel__item_title {
          font-size: 15px;
        }
        .button {
          font-size: 10px;
          border-bottom: 1px solid;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .footer__title {
      .footer__title_title {
        font-size: 45px;
        line-height: 50px;
      }
      .footer__title_subtitle {
        font-size: 15px;
        line-height: 20px;
      }
    }
    .carousel {
      .carousel__item {
        img {
          width: 100px;
          height: 65px;
        }
        .carousel__item_title {
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 1px;
        }
        .button {
          font-size: 8px;
          letter-spacing: 2px;
          &:hover {
            border-bottom: 2px solid;
            padding-bottom: 5px;
          }
        }
      }
    }
    .footer__button {
      button {
        width: 50%;
        &:hover {
          width: 75%;
          letter-spacing: 2px;
          word-spacing: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .footer {
    .footer__title {
      width: 80%;
      .footer__title_title {
        font-size: 30px;
        line-height: 45px;
      }
    }
    .carousel {
      width: 85%;
      .carousel__item {
        img {
          width: 55px;
          height: 50px;
        }
        .carousel__item_title {
          font-size: 10px;
          line-height: 10px;
          margin-top: 30px;
          margin-bottom: 20px;
        }
        .button {
          font-size: 6px;
          padding-bottom: 10px;
        }
      }
    }
    .footer__button {
      button {
        font-size: 10px;
        &:hover {
          font-size: 13px;
          letter-spacing: 2px;
          word-spacing: 5px;
        }
      }
    }
  }
}