@media screen and (max-width: 1650px) {
  .main {
    .main__gallery {
      text-align: center;
      .main__gallery_item {
        .title-1,
        .subtitle-1 {
          width: 100%;
          margin-left: 0;
        }
        .title-2,
        .subtitle-2 {
          width: 100%;
          margin-left: 0;
        }
        .title-3,
        .subtitle-3 {
          width: 100%;
          margin-left: 0;
        }
        .img-1 {
          transform: rotate(0);
        }
        .img-2 {
          transform: rotate(0);
        }
        .img-3 {
          transform: rotate(0);
        }
      }
      .item-1 {
        width: 75%;
        margin: 0 auto;
      }
      .item-2 {
        width: 75%;
        margin: 70px auto 0 auto;
      }
      .item-3 {
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        width: 75%;
        transform: translateY(0);
        margin-top: 70px;
        .item-3-title {
          margin-left: 0;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main {
    .main__title {
      flex-direction: column;
      align-items: center;
      .main__title_title {
        font-size: 50px;
        margin-bottom: 40px;
        &::before {
          left: -47px;
          width: 155px;
        }
      }
      .main__title_subtitle {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    .main__gallery {
      .main__gallery_item {
        .img-1 {
          width: 400px;
          height: 437px;
        }
        .img-2 {
          width: 500px;
          height: 390px;
        }
        .img-3 {
          width: 400px;
          height: 437px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .main {
    .main__title {
      .main__title_title {
        width: 305px;
        margin: 0 auto;
        font-size: 35px;
        padding: 0 5px;
        &::before {
          left: -19px;
          top: 46px;
          width: 85px;
          transform: rotate(-60deg);
        }
      }
      .main__title_subtitle {
        width: 305px;
        padding: 0 5px;
        margin: 0 auto;
        font-size: 15px;
        line-height: 25px;
        margin-top: 20px;
      }
    }
    .main__gallery {
      .main__gallery_item {

        .title-decor {
          font-size: 18px;
        }
        .subtitle-decor {
          font-size: 17px;
        }
        .img-1 {
          width: 215px;
          height: 287px;
        }
        .img-2 {
          width: 215px;
          height: 210px;
        }
        .img-3 {
          width: 215px;
          height: 252px;
        }
      }
    }
  }
}